:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-image: url(/black.jpg);
  background-size: cover;      
  background-position: center;
  background-repeat: no-repeat
}

header
{
  margin-top: 50px;
}


