.ha
{
  text-align: center;
  background-color: white;
  color :transparent;
  background-size: cover;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}
.ac
{
  padding: 10px;
  width:100%;
  font-size:18px;
}
