.h{
  font-family:sans-serif;
  color: aliceblue;
  font-size:70px;
  padding:80px;
  /* background-image: url(/black.jpg); */
  background-color: rgb(255, 255, 255);
  color :transparent;
  background-size: cover;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
}
