.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* 3 cards per row */                               /* Space between cards */
  justify-items: center;                    /* Center cards horizontally in grid */
  align-items: center;                      /* Center cards vertically in grid */                              /* Set grid width */
  margin: 0 auto;  
}

.card:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 2em #848486aa);  
}

.container {
  padding: 2px 16px;
  color: rgb(255, 255, 255);
 
}
.card {
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
  background-color: #1d1c1c;
  width: 350px;
  height: 500px;
  border-radius: 10px; 
  overflow: hidden;                          
  transition: transform 1s ease;
}
.imgp {
  width: 100%;                               /* Full width of the card */
  height: 60%;                               /* Set image height */
  object-fit: cover;  
}
.hp
{
  text-align: center;
  background-image: linear-gradient(to right, #f40cbd, #0e1cd9);
  color :transparent;
  background-size: cover;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  padding-bottom: 40px;
}
.des{
  font-size: small;
}